<aside class="sticky top-0 w-64 bg-white shadow-lg self-start min-h-screen">
    <div class="p-6">
        <h2 class="text-lg font-bold text-gray-800 mb-6">Quản lý tài khoản</h2>

        <nav class="space-y-2">
            <a href="{% url 'custom_policies_users' %}"
               class="sidebar-item {% if active_page == 'contracts' %}active{% endif %} flex items-center px-4 py-3 rounded-lg
                {% if request.resolver_match.url_name == 'custom_policies_users' %} gradient-bg text-white {% else %} text-gray-700 {% endif %}">
                <i class="fas fa-file-contract mr-3"></i>
                <span>Hợp đồng của tôi</span>
            </a>
            <a href="{% url 'payments_users' %}"
               class="sidebar-item flex items-center px-4 py-3 rounded-lg text-gray-700 hover:text-blue-600
                {% if request.resolver_match.url_name == 'payments_users' %} gradient-bg text-white {% else %} text-gray-700 {% endif %}">
                <i class="fas fa-credit-card mr-3"></i>
                <span>Thanh toán</span>
            </a>
            <a href="{% url 'custom_claims_user' %}"
               class="sidebar-item flex items-center px-4 py-3 rounded-lg text-gray-700 hover:text-blue-600
                {% if request.resolver_match.url_name == 'custom_claims_user' %} gradient-bg text-white {% else %} text-gray-700 {% endif %}">
                <i class="fas fa-file-medical mr-3"></i>
                <span>Yêu cầu bồi thường</span>
            </a>
            <a href="{% url 'custom_profile_user' %}"
               class="sidebar-item flex items-center px-4 py-3 rounded-lg text-gray-700 hover:text-blue-600
            {% if request.resolver_match.url_name == 'custom_profile_user' %} gradient-bg text-white {% else %} text-gray-700 {% endif %}">
                <i class="fas fa-user-edit mr-3"></i>
                <span>Thông tin cá nhân</span>
            </a>
            <a href="#"
               class="sidebar-item flex items-center px-4 py-3 rounded-lg text-gray-700 hover:text-blue-600">
                <i class="fas fa-headset mr-3"></i>
                <span>Hỗ trợ</span>
            </a>
            <a href="#"
               class="sidebar-item flex items-center px-4 py-3 rounded-lg text-gray-700 hover:text-blue-600">
                <i class="fas fa-cog mr-3"></i>
                <span>Cài đặt</span>
            </a>
        </nav>
    </div>
</aside>


